header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  width: 99%;
  height: 180px;
  margin: 0 auto;
  border: 3px solid black;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.navBar {
  display: flex;
  flex-direction: column;
  line-height: 25px;
    position: fixed;
    top : 22%;
    width: 15%;
    height: 78%;
   
}
.navButtonStyle {
  padding: 20px;
  border-radius: 10px;
}
.formStyle {
  display: none;
  flex-direction: column;
  line-height: 25px;
  align-items:  center;
  padding: 5px;
  border: 5px solid black;
  width: 40%;
  height : 40%;
  position: fixed;
  top:30%;
  left: 30%;
  opacity: 1;
  background-color: azure;
  
  
}
.content {
  display: block;
  position: fixed;
  top: 22%;
  left:16%;
  width: 83%;
  height: 78%;
  border: 1px solid black;
}
.task {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  width: 100%;
  padding: 18px;
  border : 1px solid black;
  position: relative;


}
.head {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  padding: 10px;
  background-color: grey;

}
.head div{
  position: relative;
  right: 30px;

}

button:hover {
  cursor: pointer;
}
